body{
    text-align: center;
    background: black;
    color: aliceblue;
}

h1{
    margin-top: 20px;
    color: rgb(110, 124, 232);
    line-height: 100px;
}
.container{
    margin: 20px 20px 20px 20px;
}

main {
    border: 5px 5px 5px 5px solid white;
}

.first-row
 .second-row {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
}


button{
    padding: 30px;
    border-radius: 9px;
    font-size: 20px;
    width: 100px;
}
#clear,
#addition,
#substract,
#divide,
#multiplicate,
#result{
    background: rgb(110, 124, 232);
  
}

input {
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}